@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 284 57% 99%;
    --foreground: 255 7% 11%;

    --card: 284 57% 99%;
    --card-foreground: 255 7% 11%;

    --popover: 284 57% 99%;
    --popover-foreground: 255 7% 11%;

    --primary: 241 51% 21%;
    --primary-foreground: 0 0% 100%;

    --secondary: 221 53% 44%;
    --secondary-foreground: 0 0% 100%;

    --muted: 285 28% 96%;
    --muted-foreground: 255 7% 11%;

    --accent: 219 66% 95%;
    --accent-foreground: 221 68% 26%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 256 12% 80%;
    --input: 285 28% 96%;
    --ring: 221 53% 44%;

    --radius: 0.5rem;
    --surface: #fcf8fe;
    --on-surface: #1c1b1f;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-serif;
  }
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

